body{
    background-color:cadetblue;
    margin: 0;
    padding: 0;
}


.tab-text{
    background-color:blanchedalmond;
    color: #000;
    float: right;
    cursor: pointer;
    padding: auto;
    border: none;
    transition: 0,5s;
}

.tab a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.5s;
}

.tab li {
    list-style-type: none;
    margin-left: 20px;
}

header {
    display: flex;
    background-color: moccasin;
    margin-bottom: 20px;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.tab{
    margin-left: auto;
    display: flex;
}

.tab a:hover {
    background-color: blanchedalmond;
}

.tabcontent{
    padding: 6px 12px;
    border-top: none;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.pic{
    height: 100px; 
    max-width: 100%; 
    border-radius: 50px; 
    width: 130px;
    flex-grow: 0;
    padding-left: 10px;
}

.welcome{
    position: absolute;
    padding-top: 50px;
    padding-left: 150px;
    font-size: 25pt;
}

footer{
    background-color:moccasin;
    height: 80px;
}

.foot{
    padding: 3px;
    font-size: 20px;
    text-align: left;
}

.line1{
    text-align: center;
}

.mainText{
    text-align: center;
    margin-left: 40px;
}

.Content{
    background-color: moccasin;
    width: 90%;
    max-width: 900px;
    margin:auto;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 70px;
}

.textTabl{
    text-align: center;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.tabl{
    height: 200px;
    width: 90%;
    max-width: 550px;
    margin:auto;
    text-align: left;
    justify-content: flex;
    color:rgb(255, 255, 255); 
    font-size: 22px;
}

.lastblock{
    background-color: moccasin;
    text-align: center;
    width: 90%;
    max-width: 900px;
    margin: auto;
    border-radius: 70px;
    margin-bottom: 20px;
    height: 700px;
}

.table-block{
    background-color: moccasin;
    width: 90%;
    max-width: 900px;
    margin: auto;
    border-radius: 70px;
    height: 250px;
}

ul{
    list-style-position: inside;
    font-size: 20px;
}

.form-block{
    margin-bottom: 5px;
    font-size: 17px;
}

@media screen and (max-width: 576px){
    header{
        margin-bottom: 30px;
        background-color: moccasin;
        height: 200px;
        order: -1;
    }

    .flex-container1{
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .pic{
        display: block;
        margin-bottom: 100px;
        padding-top: 5px;
    }

    .welcome{
        text-align: center;
        padding-left: 1px;
        padding-top: 85px;
    }

    nav{
        height: 70px;
    }

    .tab li{
        width: 100%;
        list-style-type: none;
        background-color:moccasin;
    }

    .tab ul li a{
        display: block;
        color: #000;
        text-decoration: none;
    }

    .tab-text{
        background-color: moccasin;
        height: 35px;
        padding-right: 45px;
        padding-top: 10px;
        width: 150px;
        padding-left: 50px;
        font-size: 20px;
        margin-bottom: 5px;
    }   

    .tab{
        padding-top: 200px;
        margin: auto;
        padding-right: 200px;
    }

    .Content{
        order: 2;
    }
    .table-block{
        order: 1;
        margin-bottom: 20px;
        margin-top: 180px;
        height: 300px
    }
    .form-block{
        order: 3;
        font-size: 22px;
        margin-top: -32px;
    }
    
    ul{
        font-size: 20px;
    }

    .lastblock{
        height: 820px;
    }
}

