body{
    height: 100%;
    background-color:lightslategray;
}

header{
    height: 70px;
    background-color:firebrick;
}

.button-container{
   a{
    color: black;
   }
}

.all_form{
    background-color:rgba(144, 231, 231, 0.518);
    border-radius: 20px;
}

.btn-primary{
    background-color: rgba(66, 214, 214, 0.518);
    border: 2px solid rgba(66, 214, 214, 0.518);
}

.dark{
    background-color: black;
}

footer{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    font-size: 20px;
    height: 72px;
    margin-top: 68px;
    background-color: firebrick;
    text-align: center;
    align-items: center;
    justify-content: center;
}