body{
    background-color:royalblue;
    margin: 0;
    padding: 0;
}

.tab button{
   background-color:blanchedalmond;
   color: #000;
   float: right;
   cursor: pointer;
   padding: auto;
   border: none;
   transition: 0,5s;
}

.tab button:hover{
    background-color: moccasin;
}

.tabcontent{
    padding: 6px 12px;
    border-top: none;
}

.textLower{
    border-radius: 15px;
    font-size: 15px;
}

.pic{
    margin-left: 30px; height: 100px; border-radius: 50px; width: 125px; margin-top: 10px;
}

.welcome{
    position: absolute;
    padding-top: 45px;
    padding-left: 170px;
    font-size: 25pt;
}

footer{
    background-color:moccasin;
    height: 80px;
}

.foot{
    padding: 3px;
    font-size: 20px;
    text-align: left;
}

.line1{
    text-align: center;
}

.mainText{
    text-align: center;
    margin-left: 40px;
}

.Content{
    background-color: moccasin;
    width: 900px;
    text-align: center;
    margin: auto;
    border-radius: 70px;
}

.textTabl{
    text-align: center;
    width: 900px;
    margin: auto;
}

.tabl{
    height: 200px;
    width: 550px;
    margin:auto;
    text-align: left;
    justify-content: flex;
    color:rgb(255, 255, 255); 
}

.lastblock{
    background-color: moccasin;
    text-align: center;
    width: 900px;
    margin: auto;
    border-radius: 70px;
    margin-bottom: 20px;
    height: 700px;
}

.block{
    background-color: moccasin;
    width: 900px;
    margin: auto;
    border-radius: 70px;
    height: 250px;
}

ul{
    list-style-position: inside;
}




